name: mlflow_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.12
  - pip
  - pip:
      - mlflow
      - pandas
      - scikit-learn
      - scipy
      - matplotlib
      - seaborn
