name: MLflow CI Retraining - Advanced

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: mlflow-env
          environment-file: MLProject/conda.yaml
          auto-activate-base: false

      - name: Run MLflow Project (Training)
        shell: bash -l {0}
        run: |
          cd MLProject
          export MLFLOW_TRACKING_URI=file:${GITHUB_WORKSPACE}/MLProject/mlruns
          mlflow run . --env-manager=local | tee output.log

          RUN_ID=$(grep "MLFLOW_RUN_ID=" output.log | tail -1 | cut -d= -f2)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Detected RUN_ID=$RUN_ID"

      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns

      - name: Build Docker Image
        shell: bash -l {0}
        run: |
          cd MLProject
          mlflow models build-docker \
            -m "runs:/$RUN_ID/model" \
            -n bbc-news-mlflow

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker tag bbc-news-mlflow:latest \
            ${{ secrets.DOCKER_USERNAME }}/bbc-news-mlflow:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/bbc-news-mlflow:latest
