name: MLflow CI Retraining

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.12"
          activate-environment: mlflow_env

      - name: Check Python Version
        run: python --version

      - name: Install Python dependencies
        run: pip install mlflow pandas scikit-learn joblib matplotlib seaborn

      - name: Run MLflow Project
        shell: bash -l {0}
        run: |
          cd MLProject
          mlflow run . --env-manager=local
          # Simpan run_id ke file
          echo "$(mlflow runs list --max-results 1 --filter-tag mlflow.runName=MLProject | awk 'NR==2{print $1}')" > run_id.txt

      - name: Get latest MLflow run_id
        run: |
          cd MLProject
          RUN_ID=$(cat run_id.txt)
          echo "Latest run_id: $RUN_ID"

      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns

      - name: Build Docker Model
        run: |
          cd MLProject
          RUN_ID=$(cat run_id.txt)
          mlflow models build-docker \
            -m "runs:/$RUN_ID/model" \
            -n anime-rating-mlflow

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag Docker Image
        run: |
          docker tag anime-rating-mlflow:latest ${{ secrets.DOCKER_USERNAME }}/anime-rating-mlflow:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/anime-rating-mlflow:latest
